.blog {
    background-color: var(--color-light-background);
}

.container > .main-container > .blogHead {
    text-align: center;
}

.container > .main-container > .blogPhar {
    text-align: center;
    padding: 40px 0 80px 0;
}

.blog-container > .cont {
    margin: 16px;
    color:#222;
}

.blog-container > .cont:hover {
    cursor: pointer;
}

.blog-container > .cont > .mini-container {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
}

.blog-container > .cont:hover .main-head {
    color: var(--color-hover-text);
    transition: 200ms linear;
}

.blog-container > .cont > .small-text > h4 {
    margin-top: 20px;
    text-transform: uppercase;
}

.blog-container > .cont > .small-text > p {
    margin-top: 15px;
    line-height: 22px;
}

.blog-container > .cont > .mini-container > .name {
    margin-left: 10px;
}

.cont > .mini-container > .date {
    margin-left: 65px;
}

.cont > .mini-container > .heart {
    margin-top: 1px;
    margin-left: 11px;
}

.cont > .mini-container > .comment {
    margin-top: 1px;
    margin-left: 10px;
}

.cont:hover .main-img {
    transform: scale(1.03);
    transition: all 0.5s;
}

.cont > .main-img > img {
    width: 100%;
}

@media (max-width: 767px) {
    .cont > .mini-container {
        display: flex;
        align-items: center;  
    }
    .cont > .mini-container > .date {
        margin-left: 260px;
    }

}

@media (min-width: 1200px) {
    .cont > .mini-container {
        display: flex;
        align-items: center;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .cont > .mini-container > .date {
        margin-left: 10px;
    }
    .cont > .mini-container {
        display: flex;
        align-items: center;
    }
}