.feedback-container {
    background-color: var(--color-light-background);
}

.feedback-container > .text-container {
    text-align: center;
}

.feedback-container > .text-container > .head {
    margin-bottom: 10px;
}

.carousel-container > .carousel-inner > .testi {
    display: grid;
    grid-template-columns: 15% auto; 
    background-color: white;
    margin-bottom: 10px;
    padding: 30px 5px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
}

.carousel-container > .carousel-inner > .testi:hover{
    cursor: pointer;
}

.carousel-container > .carousel-inner > .testi:hover .box-author {
    color: var(--color-hover-text);
    transition: 200ms;
}

.testi > .box > .box-author {
    margin-top: 25px;
}

.testi > .box > .box-name {
    margin-top: 8px;
}

.carousel-inner > .testi > .box-img {
    margin-top: -10px;
}

.carousel-control-prev, .carousel-control-next {
    padding: 9px 15px 9px 15px;
    border: none; 
    background-color: white;
    box-shadow: -12px 4px 30px 4px rgba(136,136,136,0.23);
    transition: 0.25s;
    font-size: 20px;
    color: #777777;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    cursor: pointer;
    background-color: var(--color-hover-text);
    color: white;
    opacity: 1s;
}

.carousel-container > .button-cont {
   text-align: center; 
}

@media (min-width: 1200px) {
    .carousel-container {
        display: flex;
    }
    .carousel-container > .button-cont {
        margin-top: 55px;
    }

    .button-cont > button {
        margin: 2px 0; 
    }

    .carousel-control-next, .carousel-control-prev {
        display: flex;
    }
}





