.backroundFooter {
    background-color: #04091E;
}
.footerBox {
    padding-top: 20px;
    padding-bottom: 40px;
}

.aboutFooter {
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 600;
}

.textFooter {
    font-weight: 300;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    color: grey;
    margin-bottom: 18px;
    line-height: 23px;
}

.textFooter > .fa {
    display: inline-block;
    font-size: 14px;
    color: grey;
    padding: 0;
    line-height: inherit;
}

input {
    display: inline-block;
    border: none;
    height: 40px;
    float: left;
    padding-left: 20px;
    width: calc(100% - 50px);
    font-weight: 300;
}
button.footer {
    display: inline-block;
    border: none;
    background-color: #8490FF;
    width: 50px;
    height: 40px;
    border: none;
    line-height: 25px;
}

.footerButtonIco {
    font-size: 20px;
    color: white;
    text-align: center;
}

 .socials > .fa {
    color: #fff;
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    padding: 0;
    width: 23px;
    text-decoration: none;
 }