.gallery > .container > .row > .col-6 > h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.gallery > .container > .row > .col-6 > p {
    display: flex;
    justify-content: center;
}

.gallery > .container > .row > #links {
    display: flex;
    justify-content: center;
}

.gallery > .container > .row > #links > a {
    display: inline-block;
    padding: 18px 15px;
    margin-top: 80px;
    color: #222222;
}

.gallery > .container > .row > #images {
    display: inline-block;
    width: 100%;
    margin-top: 50px;
}

.gallery > .container > .row > #images > .img {
    float: left;
    text-align: center;
    padding: 0 10px;
}

.gallery > .container > .row > #images > .img > h4 {
    margin-top: 20px;
}

.gallery > .container > .row > #images > .img > p {
    margin-bottom: 20px;
}