.count {
    background: var(--color-blue-gradiant);
    color: #ffff;
    text-align: center;
}

.container .achievement-list {
    margin: 0px;
}

.achievement-list>.achievement-block {
    margin-top: 20px;
}

.achievement-list .number {
    justify-content: center;
    font-weight: bold;
    font-size: 44px;
    padding: 15px;
}