.brands {
    overflow: hidden;
    width: 935px;
    margin: 0 auto;
}

.advertise {
    background: var(--color-blue-gradiant);
}

.brandList {
    display: flex;
}

.brand {
    display: inline-block;
    width: 100%;
    padding: 20px;
    opacity: 0.5;
}

.brand>.img {
    display: inline-block;
    object-fit: contain;
}

.brand:hover {
    opacity: 1;
    cursor: pointer;
}