.advertise {
    background: var(--color-blue-gradiant);
}

.adsLogo {
    display: inline-block;
    width: 100%;
    transition: all 0.5s;
}

.adsLogo>.soloBrand {
    float: left;
    text-align: center;
    opacity: 0.5;
    flex-shrink: 0;
    width: 20%;
    height: 100%;
}

.adsLogo>.soloBrand:hover {
    opacity: 1;
    cursor: pointer;
}