.offerText {
    display: flex;
    justify-content:center;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-family: sans-serif;
    font-weight: 600;
  }

.serviceName {
    display: flex;
    justify-content:center;
    text-decoration: none;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-family: sans-serif;
    color: #353232;
    font-weight: 600;
}

.serviceText {
    font-size: 14px;
    text-align: center;
    padding: 0 46px;
    color: grey;
    font-family: sans-serif;
   
}

.ico {
    display: flex;
    justify-content:center;
    font-size: 35px;
    padding-top: 60px;
    padding-bottom: 20px;
    color: #353232;

 }
 
.ico:hover {
    color: #8490ff;
    transition: 300ms linear;
}
  
.serviceName:hover {
    color: #8490ff;
    transition: 300ms linear;
}