.container {
    width: 100%;
    display: grid;
    grid-template-areas: '. left column .' '.right column.';
    padding-top: 120px;
    margin-bottom: 50px;
    align-items: center;
 }

.container > .left-column {
    margin-left: 50px;
 }

 .container > .left-column > .img {
 }
 
 .container > .right-column {
     margin-left: 35px;
     height: auto;
 }

 .container > .right-column > .title {
    font-size: 14px;
    text-transform: uppercase;
    color: #222222;
    font-weight: 400;

 }

 .container > .right-column > .title2 {
    display: inline-block;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 45px;
    margin-top: 35px;
    color: #222222; 
 }

 .container > .right-column > .description {
    font-size: 14px;
    font-weight: 400;
    max-width: 430px;
    line-height: 1.7em;
    color: #777777;
    margin-bottom: 50px;
 }

 .container > .right-column > .button {
     display: inline-block;
     line-height: 42px;
     padding-left: 30px;
     padding-right: 30px;
     color: #fff;
     text-decoration: none;
     background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
     text-transform: uppercase;
     font-weight: 500px;
     font-size: 14px;
 }
 
 .button:hover {
     box-shadow: 0px 20px 20px 0px rgba(132, 144, 255, 0.3);
     cursor: pointer;
     transition: all 0.4s ease 0.1s; 
}
