.personal-details {
    display: grid;
    grid-template-areas: '. left column .' '.right column.';
    padding-top: 100px;
    margin-bottom: 50px;
 }

.left-column {
    margin-left: 50px;
 }

 .main > .left-column > .img {
    size: auto;
 
 }
 
 .right-column {
     margin-left: 30px;
 }

 .right-column > .section-title {
    display: inline-block;
    font-size: 15px;
    color: #222222;
    font-family: "Poppins", sans-serif;
 }

 .right-column > .section-title2 {
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #222222;

 }

 .right-column > .description {
    font-size: 15px;
    row-gap: 10px;
    margin-bottom: 20px;
 }

 .right-column > .button {
     display: inline-block;
     padding: 10px;
     color: #fff;
     text-decoration: none;
     background-color: #8490ff;
     text-transform: uppercase;
     font-size: 15px;

 }

